---
import Button from '@/components/Button.astro';
import benefits from '@/constants/benefits.js';
import BenefitCard from '@/components/BenefitCard.jsx';
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';
---

<section
  id="about"
  class="relative flex items-center justify-center w-full min-h-screen md:min-h-[80vh]"
>
  <div class="grid justify-center w-full grid-cols-3 gap-4 md:gap-8">
    <div
      class="col-span-3 bg-light max-h-[40rem] rounded-2xl flex items-center justify-evenly shadow py-4 md:py-16"
    >
      <div
        class="w-[36rem] h-[36rem] hidden tablet:inline p-4 mx-4 md:mx-16 place-content-center"
      >
        <LottieAnimation src="animations/workingV2.json" autoplay="visible" />
      </div>
      <div
        class="flex flex-col p-8 max-md:items-center max-tablet:justify-center max-tablet:text-center"
      >
        <p class="text-4xl md:text-6xl font-cursive w-[12ch] mb-8">
          Running your own business is
          <span class="text-gradient"> tough enough</span>
        </p>
        <p class="mb-8 md:mb-16 w-[25ch] sm:w-[30ch] md:w-[40ch] md:text-xl">
          That&apos;s why Majic wants to provide a one-stop shop for businesses
          who need worry free web design & development services at a fair rate.
        </p>
        <div>
          <Button>See our affordable plans</Button>
        </div>
      </div>
    </div>
    <BenefitCard client:idle />
    {
      benefits.map(({ icon, alt, topText, bottomText, content }) => (
        <div class="flex tablet:hidden flex-row col-span-3 items-center justify-center p-14 bg-light rounded-2xl h-auto shadow gap-10">
          <img
            src={icon}
            alt={alt}
            height={32}
            width={null}
            class="tablet:mb-8 max-sm:hidden"
          />
          <div>
            <p class="text-5xl text-center text-text font-cursive">
              <span class="text-gradient">{topText}</span>
              <br />
              <span class="whitespace-nowrap">{bottomText}</span>
            </p>
            <p class="text-xl text-center mt-8 max-w-[40ch]">{content}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
