---
import Button from '@/components/Button.jsx';
import benefits from '@/constants/benefits.js';
import BenefitCard from '@/components/BenefitCard.astro';
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';
---

<script src="../scripts/aboutUsScrollTrigger.js"></script>

<section
  id="about"
  class="relative flex items-center justify-center w-full min-h-screen md:min-h-[80vh] my-3x"
>
  <div class="grid justify-center w-full grid-cols-3 gap-medium">
    <div
      class="col-span-3 bg-light max-h-[40rem] rounded-lg flex items-center justify-evenly shadow p-sl"
    >
      <div
        class="w-[36rem] h-[36rem] hidden tablet:inline place-content-center mr-medium"
      >
        <LottieAnimation src="animations/workingV2.json" autoplay="visible" />
      </div>
      <div
        class="flex flex-col max-md:items-center max-tablet:justify-center max-tablet:text-center"
      >
        <h3
          id="content-about"
          class="text-title font-cursive max-w-[12ch] mb-small balanced"
        >
          Running your own business is
          <span class="text-gradient"> tough enough</span>
        </h3>
        <p id="content-about" class="my-small max-w-[40ch] balanced">
          That&apos;s why Majic wants to provide a one-stop shop for businesses
          who need worry free web design & development services at a fair rate.
        </p>
        <div id="content-about">
          <Button
            client:visible
            aria="See our affordable pricing"
            margin="mt-sm max-w-min"
          >
            See our <span class="sm:inline hidden">affordable</span> pricing
          </Button>
        </div>
      </div>
    </div>
    <BenefitCard />
    {
      benefits.map(({ icon, alt, topText, bottomText, content }) => (
        <div class="flex tablet:hidden flex-row col-span-3 items-center justify-center p-14 bg-light rounded-lg h-auto shadow gap-10">
          <img
            src={icon}
            alt={alt}
            height={32}
            width={null}
            class="tablet:mb-8 max-sm:hidden"
          />
          <div>
            <p class="text-5xl text-center font-cursive">
              <span class="text-gradient">{topText}</span>
              <br />
              <span class="whitespace-nowrap">{bottomText}</span>
            </p>
            <p class="mt-8">{content}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
