---
import benefits from '@/constants/benefits';
---

<div
  id="benefits"
  class="container relative z-20 mt-20 grid w-screen grid-cols-1 p-0 max-md:pb-24 md:grid-cols-3"
>
  {
    benefits[0].map(({ maskId, title, content }) => (
      <div
        id={maskId}
        class="mask z-50 col-span-1 w-full bg-light-purple pl-6 text-dark-purple max-md:[&:nth-child(3)]:pb-24"
      >
        <div class="relative mt-44 md:mb-24">
          <span class="absolute h-[2.15rem] w-1 rounded-lg bg-blurple" />
          <div class="ml-6">
            <p class="font-small mb-3 text-subtitle font-semibold">{title}</p>
            <p class="balanced">{content}</p>
          </div>
        </div>
      </div>
    ))
  }
  {
    benefits[1].map(({ maskId, title, content }) => (
      <div
        id={maskId}
        class="mask2 z-50 col-span-1 w-full bg-light-purple pl-6 text-dark-purple max-md:hidden"
      >
        <div class="relative mb-28 mt-24">
          <span class="absolute h-[2.15rem] w-1 rounded-lg bg-blurple" />
          <div class="ml-6">
            <p class="font-small mb-3 text-subtitle font-semibold">{title}</p>
            <p class="balanced">{content}</p>
          </div>
        </div>
      </div>
    ))
  }
</div>
