---
import benefits from '@/constants/benefits.js';
---

<Fragment>
  {
    benefits.map(({ icon, alt, topText, bottomText, content }) => (
      <div class="benefit-card relative h-auto rounded-lg bg-light p-large shadow max-tablet:hidden">
        <div class="flex h-full w-full flex-col items-center">
          <img src={icon} alt={alt} height={128} width={null} />
          <h3 class="my-large text-center font-cursive text-subTitle">
            <span class="text-gradient">{topText}</span>
            <br />
            <span class="whitespace-nowrap">{bottomText}</span>
          </h3>
          <p class="text-center">{content}</p>
        </div>
      </div>
    ))
  }
</Fragment>
