---
import examples from '@/constants/examples.ts';
---

<section class="relative mb-section w-screen bg-dark-purple py-40">
  <div id="examples" class="container relative">
    <h3 class="pretty mb-6 font-cursive text-headline">
      Showcasing the results of our clients
    </h3>
    <p class="pretty mb-16 mt-6 max-w-[60ch] text-light-gray">
      Take a look at some of the recent projects we've crafted for our clients.
      Each one is a reflection of our commitment to quality and attention to
      detail. Reach out today and let Majic bring your vision to life.
    </p>
    <div id="grid" class="grid grid-cols-3 gap-6">
      {
        examples.map(({ title, subtitle, content, styles, site }) => (
          <a
            href={site}
            style={styles}
            class="rounded-lg bg-opacity-50 bg-cover bg-top px-10 py-8 [&:nth-child(2)]:col-span-2 [&:nth-child(3)]:col-span-2">
            <p class="font-cursive text-midtitle">{title}</p>
            <p class="mb-52 text-subtitle">{subtitle}</p>
            <p class="pretty max-w-[55ch] drop-shadow-md">{content}</p>
          </a>
        ))
      }
      <div
        class="flex h-full flex-col items-center rounded-lg bg-light p-8 text-dark">
        <p class="font-cursive text-three">Reach out now!</p>
      </div>
    </div>
  </div>
</section>
